@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">
            <localize>Blog</localize>
            <small localize>listing of posts</small>
        </h1>
        @foreach (var post in Model.Posts)
        {
            <div class="card mb-4">
                <img class="card-img-top" src="https://via.placeholder.com/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">@post.Title</h2>
                    <p class="card-text"><markdown>@post.Content</markdown></p>
                    <a asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="btn btn-primary"><localize>Read More</localize> &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    <localize>Posted on</localize> @post.Created.ToString("dddd, dd MMMM yyyy") <localize>By</localize>
                    <a asp-area="" asp-controller="Home" asp-action="Index" asp-route-search="SearchByCreatorId:@post.CreatorId">@post.Creator</a>
                </div>
            </div>
        }

        <pager list="@Model.Posts" asp-area="" asp-controller="Home" asp-action="Index" param-page-number="page" asp-route-query="@Model.NestedModel.CurrentQuery" options="@Model.Options"></pager>
    </div>

    <partial name="~/Views/Shared/_RightColumnPartial.cshtml" model="@Model.NestedModel" />
</div>