@using Olbrasoft.Data.Paging.X.PagedList.AspNetCore.Mvc
@model HomePageViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
        <h1 class="my-4">
            Page Heading
            <small>Secondary Text</small>
        </h1>
        <!-- Blog Post -->

        @foreach (var post in Model.Posts)
        {
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">@post.Title</h2>
                    <p class="card-text"><markdown>@post.Content</markdown></p>
                    <a asp-area="" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on @post.Created.ToString("dddd, dd MMMM yyyy")  By
                    <a href="#@post.CreatorId">@post.Creator</a>
                </div>
            </div>
        }

        @{
            var options = PagedListRenderOptions.Bootstrap4PageNumbersPlusPrevAndNext;
            options.UlElementClasses = new[] { "justify-content-center", "pagination" };
            options.LinkToPreviousPageFormat = "&larr; Newer";
            options.LinkToNextPageFormat = "Older &rarr;";

        }

        <pager list="@Model.Posts" asp-area="" asp-controller="Home" asp-action="Index" param-page-number="pageNumber" options="@options"></pager>
    </div>

    <partial name="~/Views/Shared/_RightColumnPartial.cshtml" model="@Model.NestedModel" />
</div>
<!-- /.row -->